body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  
  background: url("../IMGs/cadastro.svg") no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.container {
  width: 90%;
  max-width: 1200px;
  height: 100%;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#back-button{
  width: 70px;
  height: 70px;
  background-image: url("../IMGs/Back-button.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out; 
}

#back-button:hover {
  transform: scale(1.2); 
}


#form-cadastro {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 80px;
  padding: 25px;
  height: 500px;
}

#input-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 600px;
}

#Birthdate-input{
  margin-bottom: 45px;
  font-size: 20px;
  text-align: center;
  padding-right: 0px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  margin-right: 35px;
  transform: scale(2);  
} 


#input-right{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
  height: 600px;
}

.input-place{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#upper-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 150px;
}

#crp-supervisor-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

#indicator-box{
  width: 380px;
  height: 25px;
  text-align: start;
}

#lower-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  align-content: center;

  width: 100%;
  height: 100px;
  margin-top: 95px;
}

.input{
  width: 375px;
  height: 70px;
  border-radius: 15px;
  border: 3px solid black;
  margin: 0px;
  padding: 0px;

  transition: all 0.3s ease-in-out;
}

.input:hover{
  transform: scale(1.02);
}

.input-indicator{
  font-style: italic;
  font-size: large;
  margin-left: 10px;
  margin-top: 5px;
}



.file-upload {

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  cursor: pointer;
  color: lightgray;
  font-size: 14px;
  width: 50px;
  margin-top: 200px;
}

.Paperclip-img{
  margin-left: 275px;
  width: 100px;
  height: 50px;

  transition: all 0.3s ease-in-out;
}

.Paperclip-img:hover{
  transform: scale(1.2);
}

.file-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

#file-upload-indicator{
  text-align: center;
  width: 330px;
  font-style: normal;
  font-weight: bolder;
  margin-top: 6px;
}

#register-button {
  margin-left: 15px;
  margin-top: 150px;
  width: 300px;
  height: 80px;
  font-size: 35px;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  background: #1E90FF;
  color: white;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

#register-button:hover {
  transform: scale(1.2);
}
